<ion-header>
  <!--<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content class="fixed-content-green">
  
  <div class="row" style="background-color: #42B546">
      <div style="margin-top:20vh;" class="col-xs-12">
              <span class="text-field"class="input-label"></span>
              <input class="input-field"type="text" placeholder="Name" ng-model="regData.name">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span class="text-field"class="input-label"></span>
              <input class="input-field"type="email" placeholder="Email" ng-model="regData.email">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span class="text-field"class="input-label"></span>
              <input class="input-field"type="password" placeholder="Password" ng-model="regData.password">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span class="text-field"class="input-label"></span>
              <input class="input-field"type="number" placeholder="Height" ng-model="regData.height">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span class="text-field"class="input-label"></span>
              <input class="input-field"type="number" placeholder="Weight" ng-model="regData.weight">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span class="text-field"class="input-label"></span>
              <input class="input-field"type="age" placeholder="D.O.B" ng-model="regData.age">
      </div>
  </div>
  <div class="row">
		<div class="col-xs-12">
    	 <p>
         <button ion-button round outline class="next-button">Next</button>
         <!--<button type="submit" class="next-button"> Next </button>-->
    	 </p>
    </div>
  </div>

</ion-content>
