<ion-header>
  <!--<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
  
  <div class="row" style="background-color: #4fa1d9">
      <div style="margin-top:40vh;" class="col-xs-12">
              <span style="border:0px;margin: 0px;width:100%" class="input-label"></span>
              <input style="border: 0px;background-color:transparent;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #e3e3e3;color: #fff"type="text" placeholder="Name" ng-model="regData.name">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span style="border:0px;margin: 0px;width:100%" class="input-label"></span>
              <input style="border: 0px;background-color: #4fa1d9;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #e3e3e3;color: #fff"type="email" placeholder="Email" ng-model="regData.name">
      </div>
      <div style="margin-top:5vh;" class="col-xs-12">
              <span style="border:0px;margin: 0px;width:100%" class="input-label"></span>
              <input class="input-field"type="password" placeholder="Password" ng-model="regData.name">
      </div>
  </div>
  <div class="row">
		<div class="col-xs-12">
    	 <p style="margin-top: 2vh;margin-left: 80vw;color:#fff"><button type="submit" style="background-color: transparent;border:0px;"> Next </button>
    	 </p>
    </div>
  </div>

</ion-content>
