/* Empty. Add your own CSS if you like */
.sidemenu-head{
  text-align: left;
  border-bottom: 2px solid #ddd!important;
	background:  url("../img/RealMadrid.png") rgba(0,0,0,1.0);
	background-size: cover;
}
.overlay{
	padding:15px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
}
.image-holder{
  border:3px solid #fff;
  height:106px;
  width:106px;
  border-radius:100px;
}